backend/data/db/
frontend/.npm-cache/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/__pycache__/
backend/logic/__pycache__/
backend/services/__pycache__/
backend/utils/__pycache__/
backend/data/db/stock_analysis.db
backend/app/api/endpoints/__pycache__/__init__.cpython-313.pyc
backend/app/api/endpoints/__pycache__/analysis.cpython-313.pyc
backend/app/api/endpoints/__pycache__/stocks.cpython-313.pyc
backend/app/db/__pycache__/__init__.cpython-313.pyc
backend/app/db/__pycache__/database.cpython-313.pyc
backend/app/db/__pycache__/models.cpython-313.pyc
backend/app/logic/__pycache__/db_utils.cpython-313.pyc
backend/app/logic/__pycache__/get_best_CD_interval.cpython-313.pyc
backend/app/logic/__pycache__/get_best_MC_interval.cpython-313.pyc
backend/app/logic/__pycache__/get_resonance_signal_CD.cpython-313.pyc
backend/app/logic/__pycache__/get_resonance_signal_MC.cpython-313.pyc
backend/app/logic/__pycache__/get_trendline.cpython-313.pyc
backend/app/logic/__pycache__/indicators.cpython-313.pyc
backend/app/logic/__pycache__/options.cpython-313.pyc
backend/app/logic/__pycache__/stock_analyzer.cpython-313.pyc
backend/app/logic/__pycache__/trendline_analysis.cpython-313.pyc
backend/app/logic/__pycache__/trendline_utils.cpython-313.pyc
backend/app/logic/__pycache__/utils.cpython-313.pyc
backend/app/logic/__pycache__/data_loader.cpython-313.pyc
backend/app/logic/__pycache__/app.cpython-313.pyc
backend/app/services/__pycache__/engine.cpython-313.pyc
backend/backend_server.log
.DS_Store
.DS_Store
